<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../statics/css/manager.css" />
</head>
<body>
  <div class="left-menu">
        <dl>
            <dt class="idc"><a href="#">IDC</a></dt>
            <dt class="host"><a href="#">主机</a></dt>
            <dt class="group"><a href="#">主机组</a></dt>
            <dt class="host"><a href="#">主机与远程用户绑定</a></dt>
            <dt class="host"><a href="#">远程用户</a></dt>
            <dt class="user"><a href="#">部门</a></dt>
            <dt class="user"><a href="#">系统用户</a></dt>          
        </dl>        
  </div>

  <div class="content">
    <div class="host-content">
      <form>
              <p><input type="text" id="hostname" name="hostname" placeholder="hostname"></p>
              <p><input type="text" id="ip" name="ip" placeholder="ip"></p>
              <p><input type="text" id="port" name="port" placeholder="port"></p>
              <p><input type="button" value="取消" >
              <input type="button" value="确定" onclick="host();"></p> 
      </form>   
     
    </div>
  </div>
  <div class="right-menu">
    
  </div>
   
<script type="text/javascript" src="../statics/js/jquery-2.2.3.js"></script>
<script type="text/javascript">
function host(){
  var hostname = $("#hostname").val();
  var ip = $("#ip").val();
  var port = $("#port").val();
  $.ajax({
     url: "/host",
     type: 'GET',
     data:{hostname:hostname,ip:ip,port:port},
     success:function(data){
                    console.log("over..");
                }

  });
}
</script>
</body>
</html>